#map {
height: 90%;
width: 50%;
}
#floating-panel {
position: absolute;

left: 25%;
z-index: 5;
background-color: #fff;
padding: 5px;
border: 1px solid #999;
text-align: center;
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}
#floating-panel {
background-color: #fff;
border: 1px solid #999;
left: 25%;
padding: 5px;
position: absolute;
opacity: 0.7;
z-index: 5;
}
.scroll{
    height: 100%;
}