<ion-view title="About Us" id="page2" class=" ">
    <ion-content padding="true" class="has-header"></ion-content>
    <h1 style="padding-top:20px">Team Members</h1>
    <ion-list>
        <ion-item class="item item-thumbnail-left">
            <img ng-src="images/1.PNG">
            <h3>Patel Marmikkumar</h3>
        </ion-item>
        <ion-item class="item item-thumbnail-left">
            <img ng-src="images/2.PNG">
            <h3>Gupta Arunit</h3>
        </ion-item>
        <ion-item class="item item-thumbnail-left">
            <img ng-src="images/3.PNG">
            <h3>Manoj Prabhakar</h3>
        </ion-item>
        <ion-item class="item item-thumbnail-left">
            <img ng-src="images/4.PNG">
            <h3>Luke McDuff</h3>
        </ion-item>
    </ion-list>
</ion-view>